/assets/
/Resources/
bin/Debug/*.exe
bin/Debug/*.dll
bin/Debug/*.pdb
bin/Debug/*.exe.config
bin/Debug/*.xml
bin/Debug/*.dylib
bin/Debug/*.so
obj/Debug/*.txt
obj/Debug/*.pdb
obj/Debug/*.resources
obj/Debug/*.cache
obj/Debug/*.exe
/*.resx
cloudfirestore.json
obj/Debug/TempPE/*.dll
hide_information.cs
